<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
     <p>1st commit on 11/6/2022 from master branch</p>
<<<<<<< HEAD
     <p>2nd commit on 11/6/2022 on master branch from remote repo</p>
     <p>3rd commit on 11/6/2022 on master branch from remote repo</p>
     <p>4th commit on 11/6/2022 on master branch from remote repo</p>
=======
     <p>1st commit on 11/6/2022 from anoop-1 branch</p>
     <p>2nd commit on 11/6/2022 from anoop-1 branch</p>
>>>>>>> f30dd14 (3rd commit to anoop-1)
  </body>
</html>
