<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
     <p>1st commit on 17/7/2022 from master branch</p>
     <p>2nd commit on 17/7/2022 from master branch</p>
     <p>3rd commit on 17/7/2022 from master branch</p>
     <p>4th commit on 17/7/2022 from master branch</p>
     <p>5th commit on 17/7/2022 from master branch</p>
    <p>1st commit on 31/7/2022</p>
    <p>2nd commit on 31/7/2022 from browser</p>
    <p>3rd commit on 31/7/2022 from browser</p>
  </body>
</html>
