<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>1st commit</p>

    <p>2nd commit</p>
    <p>3rd commit</p>
    <p>4th commit</p>
    <p>5th commit</p>
    <p>6th commit</p>
    <p>7th commit</p>
    <p>8th commit</p>

     <p>1st commit on 17/7/2022 from master branch</p>
     <p>2nd commit on 17/7/2022 from master branch</p>
     <p>3rd commit on 17/7/2022 from master branch</p>
     <p>4th commit on 17/7/2022 from master branch</p>
     <p>5th commit on 17/7/2022 from master branch</p>
  </body>
</html>
