<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
     <p>1st commit on 11/6/2022 from master branch</p>
     <p>2nd commit on 11/6/2022 on master branch from remote repo</p>
     <p>3rd commit on 11/6/2022 on master branch from remote repo</p>
     <p>4th commit on 11/6/2022 on master branch from remote repo</p>
     <p>5th commit on 11/6/2022 on master branch from remote repo</p>
     <p>1st commit on 11/6/2022 from anoop-1 branch</p>
     <p>2nd commit on 11/6/2022 from anoop-1 branch</p>

     <p>Latest commit from anoop-1 local branch</p>
     <p>1st commit on 11/6/2022 from anoop-1 branch</p>
     <p>2nd commit on 11/6/2022 from anoop-1 branch</p>
  </body>
</html>
