<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
     <p>1st commit on 17/7/2022 from master branch</p>
    <p>1st commit</p>
    <p>2nd commit</p>
    <p>3rd commit</p>
    
  </body>
</html>
