<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>1st commit on 31/7/2022</p>
    <p>2nd commit on 31/7/2022 at anoop-1</p>
  </body>
</html>
